/* header */

.section-one
{
  background-color: #9B3B5A12;
}
.learn-path
{
  min-height: 353px;
  box-shadow: 0px 4px 54px -18px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 8px;
}
.card-custom
{
  border: none;
}
.card-custom:hover
{
  box-shadow: none;
}
.learning-path .card-custom
{
  border:2px solid #EEEEEF;
  min-height: 246px;
}
.complete-text
{
  background-color: #1DD6BD;
}
.tag
{
  color: #616D77;
  background-color: #0000001C;
  padding: 4px 8px;
  margin-right: 6px;
  border-radius: 4px;
}
.locked-text
{
  background-color: #C4C4C4;
  margin-left: 6px;
}
/* rang */
.rangeslider,
.rangeslider__fill {
	display:block;
	border-radius:10px;
}

.rangeslider {
	position:relative;
}
.rangeslider:after{
	top:50%;
	left:0;
	right:0;
	content:'';
	width:100%;
	height:5px;
	margin-top:-2.5px;
	border-radius:5px;
	position:absolute;
	background:#EEEEEF;
}

.rangeslider--horizontal{
	width:100%;
	height:28px;
}

.rangeslider--vertical{
	width:5px;
	min-height:150px;
	max-height:100%;
}
.rangeslider--disabled{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity:0.4;
}

.rangeslider__fill{
	position:absolute;
	background:#F3BD01 !important;
}
.rangeslider--horizontal .rangeslider__fill{
	top:0;
	height:100%;
}
.rangeslider--vertical .rangeslider__fill{
	bottom:0;
	width:100%;
}

.rangeslider__handle{
	top:50%;
	width:28px;
	height:28px;
	cursor:pointer;
	margin-top:-14px;
	background:white;
	position:absolute;
	background:#F3BD01 !important;
  border: 3px solid white !important;
	border-radius:50%;
	display:inline-block;
}
.rangeslider__handle:active{
	background:#F3BD01;
}

.rangeslider__fill,
.rangeslider__handle{
	z-index:1;
}
.rangeslider--horizontal .rangeslider__fill{
	top:50%;
	height:5px;
	margin-top:-2.5px;
}

/* top progress */
.two-progress {
  border-bottom: 1px solid #eeeeef;
  border-top: 1px solid #eeeeef;
  min-height: 100px;
}
.padding-r
{
  padding: 20px;
  border-left: 1px solid #eeeeef;
  border-right: 1px solid #eeeeef;
}
.rangeslider--disabled
{
  opacity: 1;
}
