.sortable-handler {
  touch-action: none;
}



.gender {
  border-bottom: 1px solid #00000030 !important;
  height: 40px;
}

#account input {
  margin: 0;
  border: none !important;
}

.bi-envelope-fill {
  color: #C4C4C4;
}

.cancel {
  color: #393F49 !important;
  height: 40px;
  padding: 0 15px;
  background-color: #EEEEEF !important;
  margin-right: 15px;
}

.cancel:hover {
  color: #393F49 !important;
}

footer .fab {
  background-color: transparent;
}

/* rang */
.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider:after {
  top: 50%;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 5px;
  margin-top: -2.5px;
  border-radius: 5px;
  position: absolute;
  background: #EEEEEF;
}

.rangeslider--horizontal {
  width: 100%;
  height: 28px;
}

.rangeslider--vertical {
  width: 5px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  position: absolute;
  background: #1DD6BD !important;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  top: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin-top: -14px;
  background: white;
  position: absolute;
  background: #1DD6BD !important;
  border: 3px solid white !important;
  border-radius: 50%;
  display: inline-block;
}

.rangeslider__handle:active {
  background: #1DD6BD;
}

.rangeslider__fill,
.rangeslider__handle {
  z-index: 1;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 50%;
  height: 5px;
  margin-top: -2.5px;
}


/* media */
@media (max-width: 992px) {
  .rangeslider__handle {
    width: 20px;
    height: 20px;
    margin-top: -10px;
  }
}

@media (max-width: 768px) {
  .nav-tabs .nav-link {
    padding: 0 10px !important;
  }
}

@media (max-width: 576px) {
  .rangeslider__handle {
    width: 15px;
    height: 15px;
    margin-top: -8px;
  }

}

/* checkbox */

.checkbox {
  display: none;
}

.checkbox+label {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  padding: 8px 15px;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.checkbox:checked+label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #9e9e9e;
  color: white;
}
/* date */
.input-date
{
  margin: 0;
  border-bottom: none !important;
}