* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* scroll */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ccc #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  /*  */
:root {
  --main-color: #F7F5FA;
  --sub-text-color: #1B1B1B99;
}
.btn
{
  outline: none !important;
  box-shadow: none !important;
  border: none;
}
/*  custom button */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}


.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/*  */
.bi-arrow-right
{
  margin-left: 5px;
}
/* tc => text color */
.tc-gray {
  color: #1B1B1B99;
}
.tc-gray- {
  color: #1B1B1B;
}
.tc-gray-1 {
  color: #5D5A6F;
}

.tc-black {
  color: #000;
}
.tc-black-1
{
  color: #1C1C1B;
}
.tc-black-2
{
  color: #0A033C;
}
.tc-gray-2
{
  color: #9b8989;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.opacity-bg
{
  background-color: #DADADA50 !important;
}
/* header */
button:focus:not(:focus-visible)
{
  box-shadow: none !important;
}
header {
  height: 73px;
}
nav
{
  z-index: 1000;
}
.nav-link {
  color: #1B1B1B !important;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  padding: 0 15px !important;
  cursor: pointer;
}
.dropdown-toggle::after
{
  display: none;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-link:hover
{
  color: #9B3B5A  !important;
}
.login {
  padding: 10px 30px !important;
  background-color: #C5322A;
  border-radius: 5px;
  color: #fff !important;
}
.logout
{
  color: #EE4B4B;
}
.logout i
{
  margin-right: 5px;
}
.bi-list {
  color: #000;
  font-size: 2rem;
}
.dropdown-menu
{
  transform: translate(-94px, 4px);
}
.dropdown-menu .arrow
{
  position: absolute;
  transform: translate(119px, -23px);
  color: #EE4B4B;
}
.dropdown-menu-rtl .arrow
{
  transform: translate(-12px, -23px) !important;
}
.navbar-brand
{
  height: 40px;
}
nav .container,
.container-fluid
{
  padding: 0 !important;
}
/* main */
.main-section {
  background-color: #FFF0F0;
  height: 700px;
}
.main-section img
{
  object-fit: cover;
}
.carousel-inner
{
  border-radius: 16px;
}
.font-inter {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0em;
}
.font28
{
  font-size: 28px;
}
.font18
{
   font-size: 18px;
}
.font20
{
   font-size: 20px;
}
.small-text {
  font-size: 14px;
}

.s-small {
  font-size: 12px;
}

.xs-small {
  font-size: 10px;
}

.font-bold700 {
  font-weight: 700;
}
.font-bold600 {
  font-weight: 600;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0em;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  text-align: left;
  color: #fff;
  padding-top: 45px;
}

.sub-text {
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin-top: 24px;
}

.container-btn {
  margin: 2rem 0 3rem 0;
}

.btn-start {
  color: #69303A;
  text-decoration: none;
  background-color: #fff;
  font-weight: bold;
  padding: 16px 30px;
  border-radius: 6px;
}

.btn-start:hover {
  color: #69303A;
}

/* img */
.container-img {
  height: 460px;
  /* position: absolute; */
}

.container-img img {
  height: 100%;
  border-radius: 5px;
  object-fit: cover !important;
}

#carouselExampleCaptions {
  height: auto;
  width: 100%;
}

.carousel-caption {
  background: linear-gradient(119.77deg, rgba(74, 9, 30, 0.86) 0.92%, rgba(75, 30, 44, 0) 77.42%);
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.carousel-inner {
  position: relative;
  height: 617px;
}
.carousel-item
{
  height: 100%;
}
.start
{
  padding: 16px 30px;
  background-color: #fff;
  color: #69303A;
}
.start:hover
{
  background-color: #fff;
  color: #69303A;
}
.start:focus
{
  border: none;
  box-shadow: none;
}
.carousel-item .d-none
{
  height: 100%;
}
/* learning-path */
.learning-path {
  padding: 2.5rem 0;
}
.fa-play-circle
{
  margin-right: 5px;
}
.learning-path h2 {
  font-weight: bolder;
}

.card-custom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: #fff;
  border: 2px solid #EEEEEF;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px 15px 0 15px;
}

.in-progress-card {
  box-shadow: 0px 10px 54px -15px rgba(0, 0, 0, 0.15);
}

.img-progress {
  display: inline-flex;
  transform: translate(-84.5px, -13px);
  width: 70px;
  height: 70px;
}

.img-progress-rtl {
  display: inline-flex;
  transform: translate(84.5px, -13px);
  width: 70px;
  height: 70px;
}

.img-progress img, .img-progress-rtl img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.title {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.phase-text,
.complete-text,
.locked-text,
.playing-text,
.in-progress,
.card-custom a.btn-link,
.mark-as-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 6px 12px;
  background-color: #000;
  border-radius: 6px;
  text-decoration: none;
}

.complete-text,
.in-progress {
  background-color: #1CD894;
  margin-left: 6px;
  margin-right: 6px;
}

.accordion .complete-text {
  margin-left: 0;
}

.in-progress {
  background-color: #FFCE21;
}

.card-custom a.btn-link {
  background-color: #9B3B5A;
}

.card-custom a.btn-link:focus {
  background-color: #9B3B5A;
  border: none !important;
  box-shadow: none !important;
  color: #fff;
}

.h-30 {
  min-height: 30px;
}

.container h3 {
  margin-bottom: 12px;
  font-size: 26px;
  height: auto;
}

.btn-completed-container {
  padding: 0 15px;
}

.btn-completed {
  background-color: #18B59533;
  color: #18B595;
}

.btn-enroll {
  background-color: #18B595;
  color: #fff;
}

.btn-group {
  padding: 10px 30px;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 5px;
}

.btn-completed:hover {
  color: #18B595;
}

.btn-enroll:hover {
  color: #fff;
}

.bi-check-lg {
  margin-right: 10px;
}

.progress {
  background: #D6D6D699;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 10px;
  width: auto;
}

.progress-value {
  animation: load 3s normal forwards;
  border-radius: 100px;
  background: #37DF99;
  height: 100%;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 41%;
  }
}

.container-progress {
  margin-bottom: 10px;
}

.container-progress .s-small {
  color: #000;
  padding: 8px 0;
}

/* start What is Fellowship Program */
.fellowship-program,
.find-your-mate,
.popular-instructor,
.our-team {
  background-color: #F7F5FA ;
  height: auto;
  padding: 1.5rem 0;
}
.fellowship-program{
  background-color: #FFF0F0;
}
.fellowship-program .paragraph {
  margin-top: 0;
  line-height: 28px;
  font-weight: bold;
  color: #1B1B1B99;
}

.container-video {
  width: 100%;
  height: 581px;
  background-color: #fff;
  margin-top: 3rem;
  border-radius: 8px;
}

video {
  object-fit: cover;
  border-radius: 8px;
}

/* start Find Your Mate */
.find-your-mate {
  color: #000;
}

.tab {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 80px;
  margin: 1rem 20px 1rem 0;
  cursor: pointer;
}

.active-tab {
  background-color: #891638;
  color: #fff;
}
.navbar-nav .nav-link.active
{
  color: #891638 !important;
}

figure {
  /* width: calc(90%/4); */
  margin-bottom: 25px;
  position: relative;
}

.flag {
  padding: 3px;
  position: absolute;
  background-color: #fff;
  Width: 44px;
  Height: 34px;
  transform: translate(0px, -60px);
}

.figure-img {
  min-height: 290px;
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.find-your-mate figcaption .font-bold700 {
  padding: 10px 0 5px 0;
  color: #000;
}

.profile-icons {
  height: 26px;
  width: 26px;
  border-radius: 3px;
  background: #DADADA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

/* start Popular Instructor */
.popular-instructor,
.explore-our-gallery,
.our-great-partnars {
  min-height: 638px;
  height: auto;
  padding: 1.5rem 0;
}

.container-photo,
.container-gallery {
  margin: 2rem 0;
}

.photo {
  padding: 0 1.5rem;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-image: linear-gradient(180deg, rgba(201, 59, 59, 0) 39.22%, rgba(0, 0, 0, 0.5) 100%);
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 20px;
  top:0;
}

.slider {
  width:100%;
  margin:0 auto;
}

.slider img {
  width:100%;
  height:100%;
}

.slider .slick-slide {
  transform: scale(1);
transition: all .5s;
opacity: 0.5;
}

.slider .slick-slide.slick-center{
  transform: scale(1);
opacity: 1;
}

.slick-prev,
.slick-next {
    display: none !important;
}


.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}
.slick-dots li button {
    width: 18px;
    height: 8px;
    background-color: #B9B9B9;
    border-radius: 3px;
}

.slick-dots .slick-active button
{
    background: #9B3B5A !important;
    border: none;
}
.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#ccc;
    border: none;
}

.slick-dots .slick-active button{
    background:#333;
}
ul{
	margin:0;
	padding: 0;
	list-style: none;
}
.image-person img
{
  height: 400px;
  width: 100%;
  object-fit: cover;
}
/* start Explore our Gallery  */
.explore-our-gallery {
  background-color: #FFF0F0;
  min-height: 470px;
}

.gallery,
.photo-logo {
  /* width: calc(85%/4); */
  height: 213px;
  margin-bottom: 20px;
}

.gallery img,
.photo-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* our team */
.our-team .li-item
{
  width: 6%;
}

.container-bg
{
  height: 506px;
}
.container-bg img
{
  object-fit: cover;
  border-radius: 10px;
}

/* modal */
.modal-open .modal.modal-center {
  display: flex !important;
  align-items: center !important;

}

.modal-dialog {
  flex-grow: 1;
}

.container-img-modal {
  padding: 20px;
  box-shadow: 0 3px 6px #00000029;
}


/* start Our Great Partnars */
.our-great-partnars {
  min-height: 633px;
}

.photo-logo {
  height: 200px;
  margin-bottom: 30px;
}


/* footer */
footer {
  background-color: #2A2124;
  color: #fff;
  padding: 25px 0;
}

.icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd3;
  margin: 20px 10px 10px 10px;
}

.slick-slide{
  padding: 0  0.5em;
}

footer a
{
  color: #fff;
  text-decoration: none;
}
footer a:hover
{
  color: #891638 !important;
}
/* border right */
.border-right
{
  border-right: 1px solid #eeeeef;
}
/* profile add photo */
.add-photo
{
  background: #fff;
  width: 34px;
  height: 34px;
  padding-bottom: 8px;
  padding-right: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(120px, -43px);
  cursor: pointer;
}
.add-photo .btn
{
  width: 25px !important;
  padding: 0;
  height: 25px;
  cursor: pointer;
}

/* icons */
.profile-icons a,
.icon a
{
  color: #fff !important;
  text-decoration: none !important;
}
.find-your-mate a:not(.active),
.popular-instructor a
{
  color: #0A033C !important;
}

/* link */
.container-course a
{
  text-decoration: none;
  cursor: pointer;
}
.container-course a:hover
{
  color: #C5322A !important;
}
/* date */
.datepicker
{
  transform: translate(-25px, 10px);
}
/* lesson select */
.selected-item,
.selected-item .tc-gray
{
  background-color: #f1f1f1 !important;
  color: #C5322A;
}

/* Pagination */
.arrow-left,
.arrow-right
{
  color: #000 !important;
    background: #F4F4F4;
    border: none;
    border-radius: 6px;
}
.number
{
  color: #9B3B5A !important;
    background: #9B3B5A33;
    border: none;
    border-radius: 6px;
}
.page-link:hover,
.page-link:focus,
.page-link.active
{
  background-color: #9B3B5A !important;
  color: #fff !important;
  box-shadow: none;
  outline: none;
}

/* last */
.h-100vh
{
  height: 100vh;
}
 /* input */
.reset-pass input
{
  height: 40px;
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  border-bottom: 1px solid #00000030 !important;
  border-radius: 0 !important;
  margin-bottom: 24px;
}
.reset-pass input:focus,
.reset-pass #exampleFormControlTextarea1:focus
{
  outline: none !important;
  box-shadow: none !important;
}
.reset-pass input::placeholder
{
  font-size: 12px;
}
/* modal */
.gallery
{
  cursor: pointer;
}
.gallery-modal .modal-body
{
  padding: 4px;
  background-color: rgb(255,240,240);
}
/* modal */
.hidden {
  display: none;
}
.thumbnail {
  width: 20%;
  margin: 2%;
  display: inline-block;
}
.lightbox {
  position: fixed;
  z-index: 10;
}
.lightbox-container {
  z-index: 1111;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}
.lightbox:checked ~ .lightbox-backdrop {
  opacity: 1;
  pointer-events: initial;
}
.lightbox-contents {
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.lightbox:checked ~ .lightbox-contents {
  opacity: 1;
  pointer-events: initial;
}
