h2,
div {
  text-align: left;
}

li {
  text-align: center;
}

.border {
  border-top: 1px solid #EEEEEF;
  border-bottom: 1px solid #EEEEEF;
}

.form-check {
  background-color: #fff;
}

.next-btn,
.next-btn:hover {
  height: 40px;
  width: auto;
  padding: 0 1rem;
  background: #9B3B5A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.modal-dialog {
  max-width: 900px;
}

.modal-dialog .next-btn {
  float: left;
}

.font42 {
  font-size: 42px;
  line-height: 1.2;
  font-size: 42px;
}
.height
{
  /* height: auto; */
}

@media (max-width: 1024px) {
  .height
  {
    height: 70vh;
  }
}
@media (max-width: 768px) {
  .height
  {
    height: 60vh;
  }
}
@media (max-width: 767px) {
  .height
  {
    height: auto;
  }
}